{{ define "main" }}
  <!-- BlogPosting JSON-LD Schema -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": {{ .Title | jsonify }},
    "description": {{ with .Description }}{{ . | jsonify }}{{ else }}{{ .Summary | plainify | truncate 200 | jsonify }}{{ end }},
    "url": {{ .Permalink | jsonify }},
    "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
    {{ with .Lastmod }}"dateModified": {{ .Format "2006-01-02T15:04:05Z07:00" | jsonify }},{{ end }}
    "author": {
      "@type": "Person",
      "name": {{ with .Params.author }}{{ . | jsonify }}{{ else }}"Edward Rixon"{{ end }},
      "url": "https://codebass.io"
    },
    "publisher": {
      "@type": "Organization",
      "name": "CodeBass Ltd",
      "url": "https://codebass.io"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ .Permalink | jsonify }}
    }{{ with .Params.image }},
    "image": {{ . | absURL | jsonify }}{{ end }}{{ with .Params.tags }},
    "keywords": {{ delimit . ", " | jsonify }}{{ end }}
  }
  </script>

  <div class="blog-layout">
  <main class="post">

    <div class="post-info">
      <p>
        <i class="fa-solid fa-clock"></i>
        {{ i18n "readingTime" .Page.ReadingTime }}
        <i class="fa-solid fa-clipboard"></i>
        {{ i18n "wordCount" .Page.WordCount }}
        {{ if .IsTranslated }}
          {{ range (where $.Translations ".Lang" "!=" ".Lang") }}
              | <a href="{{ .Permalink }}"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
          {{ end}}
        {{ end }}
      </p>
      <p>
        <i class="fa-solid fa-calendar-days"></i>
        {{ dateFormat "2006-01-02" .Date.Local }}
        {{ if .Lastmod }}
          {{ if not (eq .Lastmod .Date )}}
            ({{ i18n "lastModified" }}: {{ dateFormat "2006-01-02" .Lastmod.Local }})
          {{ end }}
        {{ end }}
      </p>
      <p>
      {{ partial "tags.html" .Params.tags }}
      {{ partial "categories.html" . }}
      </p>
    </div>

    <article>
      <h1 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </h1>


      {{ if .Params.Cover }}
        <figure class="post-cover">
          <img src="{{ .Params.Cover | absURL }}" alt="{{ .Title }}" />

          {{ if .Params.CoverCaption }}
            <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
          {{ end }}
        </figure>
      {{ end }}

      {{- if .Params.toc }}
        <hr />
        <aside id="toc">
          <div class="toc-title">{{ i18n "tableOfContents" }}</div>
          {{ .TableOfContents }}
        </aside>
        <hr />
      {{- end }}

      {{ if .Params.Audio }}
        <div class="post-audio">
          <audio controls>
            <source src="{{ .Params.Audio }}">
          </audio>
        </div>
      {{ end }}

      <div class="post-content">
        {{ .Content }}
      </div>
    </article>
      <hr />
    <div class="post-info">
      {{ partial "pagination-single.html" . }}
    </div>

    {{- if .Site.Params.EnableSharingButtons }}
      <div class="sharing-buttons">
        {{ partial "sharing-buttons.html" . }}
      </div>
    {{- end }}

    {{ if .Site.Params.Commento.Url }}
      <script defer src={{ .Site.Params.Commento.Url }}></script>
      <div id="commento"></div>
    {{ end }}

    <!-- Giscus Comments -->
    <div class="giscus-comments">
      <h3>Comments</h3>
      <script src="https://giscus.app/client.js"
              data-repo="edtheshed/edtheshed.github.io"
              data-repo-id="R_kgDOIQ-1PA"
              data-category="Announcements"
              data-category-id="DIC_kwDOIQ-1PM4C0-6q"
              data-mapping="pathname"
              data-strict="0"
              data-reactions-enabled="1"
              data-emit-metadata="0"
              data-input-position="top"
              data-theme="https://codebass.io/css/giscus-theme.css"
              data-lang="en"
              data-loading="lazy"
              crossorigin="anonymous"
              async>
      </script>
    </div>

  </main>

  {{ partial "blog-sidebar.html" . }}
  </div>
{{ end }}
